{% extends "email_base.j2" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>ETL - мониторинг:</h1>

<h2>{{event}}</h2>

<p>
    В таблице INTEGRATION.MO_SEGMENTS появилась строка с новым сегментом.
</p>

{% if data %}
{% for row in data %}

<table>
    <tr><th> Сегмент</th> <td> {{row.segment_cd}} </td></tr>
    <tr><th> Кол-во предложений </th><td> {{row.count}} </td></tr>
    <tr><th> Дата создания </th><td> {{row.created_dttm}} </td> </tr>
</table>

{% endfor %}
{% endif %}

{% if stat %}
<h2> 
{{stat.data_name}}
</h2>

{{stat.data_table}}
{% endif %}

{% endblock %}
